<style>
    button{
        float: right;
        height: 10vh;
    }
    h1{
        color: #EF7B45;
    }
</style>


<div class="container" >
    <div class="row" >

        
      <div class="col-4">
         <!-- <h1>TaskIt</h1>  --> 
      </div>

      <div class="col-4">
        <button type="button" class="btn btn-black" (click)="goBackButton()">Back</button>
      </div>

        <div class="col-4">
            <button type="button"  (click)="savePlayer()" class="btn btn-black">
            Save
            </button> 
        </div>



    </div>
</div>