
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')" id="sidebar">
    <app-sidebar ></app-sidebar>
  </mat-sidenav>



<div class="container">
  <div id="topbarContainer" class="row" >
    <div class="col-4" (click)="sidenav.toggle()">
      <img src="assets/menu.png" alt="menubutton" width="50" height="100%" >
    </div>
    <div class="col-8">
      <app-topbar id="topbar"></app-topbar>
    </div>
  </div>


  <div class="row">
      <div id="routerbar" class="col-12">
        <router-outlet></router-outlet>
      </div>
  </div>

</div>


</mat-sidenav-container>