<a  routerLink="">Zen</a><br><br>
<a  routerLink="/inbox" >Inbox</a><br>
<a  routerLink="/today">Today</a><br>
<a  routerLink="/tomorrow" >Tomorrow</a><br>
<a  routerLink="/week">Week</a><br>
<a  routerLink="/month">Month</a><br>
<a  (click)="navigate2CreateTaskQuicky()">Add Quick Task</a><br><br>

<h5>Projects</h5>
<a  routerLink="/createproject">Add Project</a><br>
<a  routerLink="/viewprojects">View Projects</a><br>
<span *ngFor="let project of projects"  (click)="viewClickedProject(project)">
        <a>{{project.name}}</a><br>
</span><br><br>

<!--
<h5>Filters</h5>
<a  href="#">Priority 1</a><br>
<a  href="#">Priority 2</a><br>
<a  href="#">Labels</a>
-->

